%tbody
  %tr
    %th= board.id
    %th= board.title
    %th= board.user.username
    %th= board.created_at.to_s(:datetime)
    %th= board.updated_at.to_s(:datetime)
    %td= link_to '詳細', board, class: 'btn btn-outline-dark'
    %td= link_to '削除', board, class: 'btn btn-outline-dark', method: :delete, data: { confirm: '削除してよろしいですか？' }

