.d-flex.align-items-center.mt-4.mb-4
  .ml-auto.boards__linkBox
    = link_to '一覧', boards_path, class: 'btn btn-outline-dark'
    - if @board.user == current_user
      = link_to '編集', edit_board_path, class: 'btn btn-outline-dark'
= render 'layouts/flash'
= render partial: "show_board", locals: { board: @board }
.p-comment_list
  .p-comment_listTitle
    コメント
    = render @board.comments
= render partial: 'comments/form', locals: { comment: @comment }
